<%= form_for @user do |f| %>

<div class="">
    <%= f.label :user_name %>
    <br>
    <%= f.text_field :user_name %>
  </div>

  <div class="">
    <%= f.label :first_name, "Please enter your first name" %>
    <br>
    <%= f.text_field :first_name %>
  </div>


  <div class="">
    <%= f.submit %> 
  </div>

  <% end %>
